<Files "database.php">  
  Order Allow,Deny
  Deny from all
</Files>

<Files "env.php">  
  Order Allow,Deny
  Deny from all
</Files>

<Files "model.php">  
  Order Allow,Deny
  Deny from all
</Files>

<Files "utils.php">  
  Order Allow,Deny
  Deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]